<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include('../partials/navbar') %>
    
    <div class="container stack">
        <h1>Sorry but the event you're looking for does not exist</h1>    
        <br>
        <a href="/reserve/reservation">Back to My Reservations</a>
    </div>
</body>
</html>