<link rel="stylesheet" href="/style.css">

<nav class="nav">
    <div class="nav-inner">
      <div class="nav-brand">
        <a class="nav-brand-link" href="/">CampusPulse</a>
      </div>
      <ul class="nav-bar">
        <% if (!currentUser) { %>
            <li><a href="/" class="nav-menu">Home</a></li>
            <li><a href="/login" class="nav-menu">Login</a></li>
            <li><a href="/register" class="nav-menu">Register</a></li>
        <% } else { %>
        <li><a href="/" class="nav-menu">Home</a></li>

        <li class="dropdown">
            <a href="#" class="nav-menu">Events ▼</a>
            <div class="dropdown-menu">
                <a href="/event">Upcoming Events</a>
                <a href="/reserve/reservation">My Bookings</a>
                <a href="/feedback/history" class="nav-menu">My Feedback</a>
                <% if (typeof isAdmin !== 'undefined' && isAdmin) { %>
                    <a href="/event/manage" class="nav-menu">Manage Events</a>
                    <a href="/configuration" class="nav-menu">Event Settings</a>
                <% } %>
            </div>
        </li>

        <% if (typeof isAdmin !== 'undefined' && isAdmin) { %>
            <li><a href="/user" class="nav-menu">Manage Users</a></li>
        <% } %>

        <li><a href="/contactus" class="nav-menu">Contact Us</a></li>

        <li><a href="/user/profile" class="nav-menu">Profile</a></li>
        
        <li><a href="/signout" class="nav-menu">Sign out</a></li>
        <% } %>
      </ul>
    </div>
</nav>

