<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Approval History</title>
</head>
<body>
    <%- include("../partials/navbar.ejs") %>

    <% if (!reservationHistory || reservationHistory.length ==0) { %>
        <h2>Empty Reservation History</h2>
        <p>Please check for pending reservation requests next time. </p>
    <% } else { %>
         <h2><%= reservationHistory.length %> reservation(s) Approved</h2>
         <ol>

         
         <% reservationHistory.forEach(r => { %>
            <li><%= r %></li>
         <% }) %>
         </ol>
    <% } %>
</body>
</html>