<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
</head>
<body>
    <%- include("../partials/navbar.ejs")%>
    <br>
    <h2>Admin Dashboard</h2>
    <ul>
        <li><a href="/configuration/category" style="color: blue;">Manage Event Categories</a></li>
        <li><a href="/configuration/reservationDashboard" style="color: green;">Manage Reservations</a></li>
    <ul>
</body>
</html>