<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reservations Dashboard</title>
</head>
<body>
    <%- include("../partials/navbar.ejs") %>
    <ul>
        <li> <a href="/configuration/pending">Pending Reservations</a></li>
        <li> <a href="/configuration/approvalHistory">Approval History</a></li>
    </ul>


</body>
</html>