<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>
    <style>
        input {
            background-color: white;
        }
    </style>
</head>
<body>
    <%- include("../partials/navbar.ejs") %>
    <h1>Contact Us</h1>
    <p>Questions, bug reports, or feedback? We're here for it all!</p>
    <p>Fill out the form below to get in touch with us:</p>

    <div>
        <% if (submitted) { %>
         <h3>Thank you for contacting us!</h3>
         <p>We'll get back to you within 2 to 3 business days.</p>
        <% } else { %>
        <form action="/contactus" method="POST">
            <label for="category">Category*:</label><br>
            <select name="category" id="category" required>
                <% reportTypes.forEach(type => { %>
                    <option value="<%= type %>"><%= type %></option>
                <% }) %>
            </select><br><br>

            <label for="report">Message*:</label><br>
            <textarea id="report" name="report" rows="5" cols="50" required></textarea><br><br>

            <label for="attachment">Attachment:</label><br>
            <input type="file" name="attachment" id="attachment" multiple><br><br>

            <button type="submit">Submit</button>
        </form>
        <% } %>
    </div>
</body>
</html>

<script>
document.getElementById('attachment').addEventListener('change', function(e) {
    const attachmentLabel = document.querySelector('label[for="attachment"]');
    if (this.files.length > 2) {
        alert('You can only upload up to 2 files.');
        this.value = ''; // Clear the selection
    }


    attachmentLabel.textContent = `Attachment: (${this.files.length} of 2 file${this.files.length !== 1 ? 's' : ''} selected)`;
});
</script>